#add_btn {
  border: none;
  border-radius: 10px;
  background-color: var(--black);
  padding: 10px 15px;
  font-size: 18px;
  position: relative;
  left: 20px;
  transition: all 0.3s;
}
#add_btn img {
  width: 25px;
}
@media (max-width: 600px) {
  #add_btn {
    padding: 8px 15px 10px 15px;
  }
  #add_btn img {
    width: 20px;
  }
}
