#title_name {
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  position: relative;
  top: 10px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
#updating_spinner {
  position: relative;
  top: 18px;
  right: 10px;
}
#updating_text {
  font-size: 18px;
  font-weight: 700;
  position: relative;
  top: 15px;
}
.close_modal {
  width: 20px;
  position: absolute;
  top: 5%;
  right: 5%;
}
.container_modal_premium {
  font-size: 16px;
}
.title_modal_premium {
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 959px) {
  #updating_spinner {
    top: 3px;
    right: 15px;
  }
  #updating_text {
    top: 0px;
  }
  .close_modal {
    top: 2%;
    right: 5%;
  }
  .modal_logo {
    margin-top: 50px;
  }
}
@media (max-width: 759px) {
  #title_name {
    text-align: left;
    margin-left: 20px;
    font-size: 22px;
  }
  #updating_container {
    text-align: left;
  }
  #updating_spinner {
    right: 0px;
    left: 15px;
    top: 17px;
  }
  #updating_text {
    left: 25px;
    top: 12px;
  }
}
@media (max-width: 575px) {
  #title_name {
    font-size: 20px;
  }
}

@media (max-width: 415px) {
  #title_name {
    margin-left: 5px;
  }
}
